//header

.banner {
    height: 95vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // background-image: url("../images/flak.png");
    // background-repeat: no-repeat;
    // background-size:contain;
    // background-position: center;

    .bg-video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .text {
        position: absolute;
        padding: 0px 20px;
        backdrop-filter: brightness(50%);
        height: 95vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        p {
            margin-top: 20px;
        }
    }
}